@tailwind base;

@tailwind components;

@tailwind utilities;

/* .gridElement {
    border: 1px solid black;
    height: 70px;
    width: 70px;
    background-color: lightblue;
} */

.gridElement:hover{
    background-color: #438ce0;
}

.gameGrid {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 640px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}